[[services]]
name = "web"

[services.build]
builder = "DOCKERFILE"
dockerfilePath = "./Dockerfile"
watchPatterns = [
    "requirements.txt", 
    "photobiz/",
    "templates/**", 
    "users/**", 
    "payments/**", 
    "downloads/**", 
    "railway.toml",
    "Dockerfile",
]

# Override the CMD from Dockerfile for web service
[services.deploy]
startCommand = "gunicorn photobiz.wsgi:application --bind 0.0.0.0:$PORT"

